* {
    box-sizing: border-box;  
}

body{
    margin: 0;
    font-family: 'Nunito Sans', Arial;
}

.container {
   max-width: 1150px;
    margin: 0 auto;
    display: flex;
}

.step2 {
background-color: #131313;
width: 100%;
height: 1075px;
}

.step2__container {
display: flex;
}

.step2__col {
flex-basis: 450px;
}

.step2__row {
display: flex;
align-items: flex-start;
flex-wrap: wrap;

}

.step21__row {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr;
  
}

.style21 {
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.title1 {
color: #E3B873;
font-family: Yeseva One;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 138.6%; 
letter-spacing: -1.89px;
text-transform: uppercase;
padding-top: 100px;
min-width: 442px;
}

.subtitle1 {
color: #FFF;
font-family: Nunito Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;

}

.title2 {
color: #E3B873;
font-family: Yeseva One;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 138.6%;
text-transform: uppercase;
}


.subtitle2 {
color: white;
font-family: Nunito Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
object-fit: cover;
}
.subtitle22 {
color: white;
font-family: Nunito Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
object-fit: cover;
}
.subtitle3 {
color: white;
font-family: Nunito Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
object-fit: cover;
}
.subtitle4 {
color: white;
font-family: Nunito Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
object-fit: cover;
}



.arrow {
display: flex;
}


#bottom {
  display: flex;
  column-gap: 25px;
  margin-left: 15px;
}

.pagination-circle {
  width: 15px;
  height: 15px;
  border: 2px solid grey;
  border-radius: 50%;
}




.step21__col {
padding-top: 107px;
}

.step21__head {
display: flex;
flex-direction: row;
margin-left: 10px;
}

.step21-navigation {
display: flex;
list-style: none;
text-transform: uppercase;
font-family: Yeseva One;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 138.6%; 
margin-bottom: 52px;
}
.step21-navigation__item {
color: rgba(255, 255, 255, 0.3);  
flex-wrap: nowrap;
margin-right: 40px;
}


.flex {
    display: flex;
}


.slider-image {
 width: 100%;
 height: 100%;
 object-fit: cover;
 display: none;
}


.pointer {
    cursor: pointer;
}

.active_yellow {
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
}

.active_grey {   
    border-bottom: none;
    color: rgba(255, 255, 255, 0.3);
}


.active {
    background-color: white;
}

.block {
  display: block;
}
